
.buttons{
    margin-left: 540px;
    margin-bottom: 40px;
   
}
.all-btn:hover{
    background-color: var(--clr-gold);
    color: white;
    
    
    
    
}
.breakfast-btn:hover{
    background-color: var(--clr-gold);
    color: white;
    
    
   
    
}
.lunch-btn:hover{
    background-color: var(--clr-gold);
    color: white;
    
    
}.shakes-btn:hover{
    background-color: var(--clr-gold);
    color: white;
    
    
}.dinner-btn:hover{
    background-color: var(--clr-gold);
    color: white;
    
    
}
.all-btn,.breakfast-btn,.lunch-btn,.shakes-btn,.dinner-btn{
    width: auto;
    padding-right: 5px;
    padding-left: 5px;
    height: 35px;
    border-radius: 7px;
    background: transparent;
    cursor: pointer;
    border-color: var(--clr-gold);
    border-style: solid;
    color: var(--clr-gold);
    font-size: 18px;
    margin-left: 13px;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.1rem;
    
}
