        
        
.image{
    width: 225px;
    height: 175px;
    border-style: solid;
    border-color:var(--clr-gold) ;
    border-radius: 15px;
       
 }        
.section-center{ 
    margin-left: 200px;
    margin-top: 30px; 
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 500px;
    
}